/********** Template CSS **********/
:root {
    --primary: #348E38;
    --secondary: #525368;
    --light: #E8F5E9;
    --dark: #0F4229;
}

body{
    font-family: 'Jost', sans-serif;
}

html {
    scroll-behavior: smooth;
}


$color-main: #0F4229;
$color-green: #348E38;
$color-light: #E8F5E9;
$color-gray: #525368;
$bg-icon: #e8f5e9;
$color-text-ad: #697a8d;

.btn-ex-more{
    background-color: var(--primary);
    border-color: var(--primary);
    color: $color-light;
}

.btn-ex-more:hover{
    color: #1c1c1c;
}

.text-decoration-none{
    text-decoration: none;
}

.height-100{
    height: 100px !important;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-lg-square{
    width: 48px;
    height: 48px;
}

.btn-square, .btn-lg-square{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.bg-dark {
    background-color: $color-main !important;
}

.bg-green {
    background-color: $color-green !important;
}

.border-green{
    border-color: $color-green!important;
}


//text
.text-color-main{
    color: $color-main;
}

.text-color-green{
    color: $color-green;
}

.text-color-gray{
    color: $color-gray;
}

.text-color-white{
    color: $color-light
}

//font
.font-size-5{
    font-size: 5rem;
}

//wowjs

.circle {
    margin: 25px 10px;
    width: 200px;
    color: #fff;
    font-size: 32px;
    line-height: 200px;
    text-align: center;
    height: 200px;
    border-radius: 100px;
}

.bg-yellow {
    background: #ffcc35;
}

.bg-green {
    background: #5bd5a0;
}

.bg-red {
    background: #eb3980;
}

.bg-sky{
    background-color: skyblue!important;
}

//end wowjs


