@import '../../../../components/GlobalStyles/GlobalStyle.module.scss';


// .project-content{
//     background: rgba(15, 66, 41, 0.1);
// }

.item-project:hover {
    .border-green{
        border-color: $color-main !important;
    }

    .bg-green{
        background-color: $color-main !important;
    }

    // .project-show{
    //     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    // }
}



.project-img-screen-shot{
    width: 100%;
    height: 250px;
    object-fit: revert;
}