@import '../../../../components/GlobalStyles/GlobalStyle.module.scss';

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(15, 66, 41, .6);
    z-index: 1;
    position: absolute;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.custom-pre-icon {
    background-color: var(--primary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 10px solid var(--primary);
    z-index: 100;
}

.title-slide{
    font-weight: 700;
    line-height: 1.2;
}


@media (max-width: 768px) {
   .custom-item-carou {
        position: relative;
        min-height: 450px;
    }
    
   .custom-item-carou img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}