@import '../../../components/GlobalStyles/GlobalStyle.module.scss';

.wrapper-sidebar,
.sidebar-container {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
}

.bg-menu-theme {
  background-color: #fff !important;
  color: #697a8d;
}

.sidebar-menu {
  width: 16.25rem;
  box-shadow: 0 0.125rem 0.375rem 0 rgb(161 172 184 / 28%);
  min-height: 100vh;
  padding: 0 16px;
  position: relative;
}

.sidebar-logo h3{
  color: $color-main;
}

.menu-link {
  color: $color-green;
  margin: 0px 10px;
  padding: 8px;
  
  &:hover, &:focus, &:active{
    color: $color-green;
  }
}



.menu-item.active{
  background: rgba(127, 224, 75, 0.2);
  border-radius: 0.375rem;
}


.menu-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  width: 0.25rem;
  height: 2.5rem;
  border-radius: 0.375rem 0 0 0.375rem;
  background: $color-green;
}